.question-options-block {
    .options-width {
        width: 45%;
    }
}

.answer-field {
    width: 20%;
}

.topic-score-block {
    .topic-input {
        width: 30%;
    }
    .score-input {
        width: 20%;
    }
}